.category-container {
    height: calc(100vh - 100px);
    position: relative;
    top:100px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: scroll;
}