.App {
  display: flex;
    height: 100vh;
    width: 100vw;
  text-align: center;
  background-color: #121212;
}

a {
  text-decoration: none;
  color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.app {
  
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans';
  background-color: #121212;
}

::-webkit-scrollbar {
  display: none;
}








